.button {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: none;
  border-radius: 0.4rem;
  background: rgba(0, 54, 65, 0.5);
  color: #fff;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(238, 238, 238, 0.9);
}
.button:disabled {
  opacity: 0.5rem;
  cursor: wait;
}

.wrapper {
  margin-bottom: 1rem;
}

.input {
  border: 1px solid rgba(238, 238, 238, 0.3);
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: rgba(238, 238, 238, 0.3);
  transition: 0.1s;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: rgba(0, 54, 65, 0.3);
  background: rgba(238, 238, 238, 0.9);
  box-shadow: 0 0 0 3px rgba(0, 54, 65, 0.3);
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
